
body {
  background-image: url('/img/feature.JPG');
  background-attachment: fixed;
  background-size: cover;
  color: #2e2a1d !important;
}

.announce {
  font-size: 4em;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-500 { font-size: 8em; }
.filler {
  height: 50vh;
}

h1 {
  font-weight: normal;
}

p {
    font-size: 1.2em;
  list-style-type: none;
  padding: 0.8em;
  text-transform: uppercase;
}
li {
  display: inline-block;
  font-size: 1.2em;
  list-style-type: none;
  padding: 0.8em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 1.2rem;
}

.blur {
  filter: blur(50px);
  background-image: url('/img/teeth.png');
  background-attachment: fixed;
  background-size: cover;
  min-height:350px;
  margin-bottom: -350px;
  z-index: -5;
}