* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c9704a;
  background-image: url('/img/teeth.png');
  background-attachment: fixed;
  background-size: cover;
  color: #2e2a1d !important;
}

.thing {
  min-height: 600px !important;
}

.container {
  color:#2e2a1d;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3rem;
}

.google-home .lens-hire {
    min-height: 80vh;
    
}
.google-home {
  background-image: url("https://media.flixfacts.com/inpage/google/v2/img/home_mini/Hero-Banner2.jpg");
  background-size: cover;
  min-height: 80vh;
}

.lens-hire {
  background-image: url("https://www.adorama.com/images/Large/ca5018afu.jpg");
  background-size: contain;
  background-position-y: 100px;
  background-position: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  background-color: white;
  border-left: 10px solid #b79a89;
}

.bottom {
  min-height: 20vh;
  text-align: center;
}

.bottom:last-of-type {
  border-left: 10px solid rgb(255, 237, 214);
}

.disp-bg {
  min-height: 100vh;
  background: transparent;
}

.roos {
  
}

.blur {
  filter: blur(50px);
  background-image: url('/img/teeth.png');
  background-attachment: fixed;
  background-size: cover;
  min-height:350px;
  margin-bottom: -350px;
  z-index: -5;
}